.header{
    background-color: #0054a6;
    border: solid;
    text-align: center;
}
.header img{
background-color: #C2A073;
}
.navigation{
    width: 100%;
    height:30px;
}
.menu{
    float: left;
    font-size: 25px;
    height:25px;
    margin-top: 175px;
}

    
.menu a {
    color: #ffffff;
    margin-left: 10px;
}
.schoolimage{
justify-content: space-evenly;
}
.text{
    margin-top: 90px;
    float:right;
    width: 40%;
    font-size: 20px;
    font-weight: bold;
}
.about{
    background-color:  #C2A073;
    border: #000000;
    border-radius: 10px;
    border-color: #000000;
}
.event{
    background-color:  #C2A073;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
}
.items{
    position: relative;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: cadetblue;
  }
  .column1 {
    float: left;
    width: 70%;
    margin-top:  20px;
  }
  .column2 {
    float: right;
    width: 30%;
    text-align: center;
font-size: 30px;
vertical-align: middle;
  }
.items p{
    text-align: center;
    font-size: 20px;
}
.header:after{
    content: "";
    display: table;
    clear: both;
    background-color: #0054a6;
}
.column3{
    float: left;
}
.column4{
    float: right;
    width: 60%;
}
.row2{
    content: "";
    display: table;
    clear: both;
}
.divider{
    padding:7%
}
.divider:after{
    content: "";
    display: table;
    clear: both;
}
.first-side{
    float: left;
    width: 50%;
    align-content: center ;
}
.second-side{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    float: right;
    width: 50%;
}
.above:after{
    content: "";
    display: table;
    clear: both;
}
.image1{
    float: left;
    width: 50%;
}
.image2{
    float: right;
    width: 50%;
}
.image3{
    float: left;
    width: 50%;
}
.image4{
    float: right;
    width: 50%;
}

.image{
    position: relative;
}